body {background-color: #1A171B;
      color: #333;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
h3 {position: relative;
    top: 30px;
    font-size: 14px;
    font-weight: 300;
    }
footer{height: 0;}

.Cinematography {position: relative;
                  right:170px;}
.Webdev {position: relative;
        right: 180px;}
.identity {position: relative;
        right: 60px;}
.resume {position: relative;
        right: 120px;}


.logo {width: 200px;
    height:0;}
.logo img{width: 100%;
    height:auto;}
.logo-writing {width: 200px;
    height: 0;
    }
.logo-writing img{width: 200%;
    height: auto;
    position: relative;
    top: -70px;
    right: 100px;
    opacity: 0;
    }



.col-lg-3 {border-right-width: 1px;
      border-right-color:	#2c252b;
      border-right-style: solid;
      padding: 0;
      height: 950px;
      }


.row {margin: 0;
      }


#grid {text-align: center;
    }
.features {margin: 80% 2%;
    color: white;
    float: left;
    text-shadow: 0 0 16px black;
    }



.video-container1 {width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: -1;
    ;}
#logovideo{margin-left: -370px;
    display: none;}


.video-container2 { width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: -5px;
    z-index: -1;}
#drone1 {margin-left: -260px;
    display: none;}

.video-container3 {width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: -130px;
    z-index: -1;}

#objvideo {margin-left: -300px;
    display: none;}


#img-container {width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    z-index: -1;
    display: none;}

#programmingimg {height: 1080px;
    margin-left: -40px;
    }
#programmingimg2 {height: 1080px;
    margin-left: -40px;}

.video-container4 {width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        z-index: -1;
        bottom: 0;
        top: -300px;
        left: 0;
        opacity: 0.5;}




.white-section {background-color: white;
    text-align: center;
    position: relative;}
.testimonial-image {width: 10%;
                    border-radius: 100%;
                    margin: 20px}
#testimonytime {padding: 7% 15%;}

#companies {padding: 5%;}
.company-logo {width: 15%;
    margin: 10px 20px 30px; }

.cta {text-align: left;
      padding: 5% 5% 1%;
        position: absolute;}
.footer-logo {width: 40%;
      margin-top: -100px;
      position: relative;
      right: 180px;
      top: -80px;
            }
.address {position: relative;
      top: -80px;
      color: white;
      font-size: 1.25rem;
      font-weight: 100;}

.fas {font-size: 1.5rem;}





 .footer-link {
    position: absolute;
    top: 600px;
    left: 50px;}

  .footer-item {display: inline-block;
    padding: 50px;
    color: white;
    font-size: 15px;}




  @media (max-width: 1199.98px){
          .subheading{opacity: 0;}

          .features {margin: 90% 2%;}
          .address {position: relative;
                    top:-50px;
                    right: -20px;}
          .footer-logo{position: relative;
                    top:-50px;
                    left: -80px;}
        }
  @media (max-width: 991.98px){
        h1 {transform: rotate(-90deg);}
        .Cinematography {position: relative;
                          right:220px;
                          top: 290px}
        .Webdev {position: relative;
                right: 210px;
                top: 290px;}
        .identity {position: relative;
                right: 150px;
                top: 240px;}
        .resume {position: relative;
                right: 200px;
                top: 260px;}
        .features {height: 300px;}
        }
